@charset "UTF-8";

@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

	#board_container li {
		list-style: none;
	}
	
	
	#content_count {
		font-family: 'GongGothicLight';
		font-size:2rem;	
		font-weight: bold;	
		
		border-radius:0.2em;
  		border:1.5px solid lightgray;
	}

	#board_search, #board_head{
		font-family: 'GongGothicLight';
		font-size:1.7rem;	
		font-weight: bold;
		}
	#board_body, #board_head {
		font-size: 1.8rem;
		
	}
	.selectSort{		
		background:lightgray;
	}
	.board_sort>select{
		background-color:transparent;
	}
	
	#board_head ul li{
		border-radius:0.2em;
  		border:1.5px solid black;
	}
	 .board_type {
		width: 7%;
		border-radius:0.2em;
  		border:1.5px solid black;
	}

	.board_sort, .board_title, .board_content_info {
		text-align: center;
		align-self: center;		
		font-family: 'GongGothicLight';
		font-size:1.7rem;
	}

	#board_head{
		border-radius:0.2em;
  		border:1.5px solid black;
  		background-color:lightgray;
		margin-top:1rem;
		margin-bottom:1rem;
		padding:0.5rem;
	}

	div.board_file_img {
		width: 3%;
	}

	div.board_file_img>img {
		width: 100%;
		height: 100%;
	}

	#board_pageBar {
	margin-top:3rem;
	font-family: 'GongGothicLight';	
 	font-size: 2rem;
	text-align: center;
	}
	
	/* #board_pageBar>a {
		color:black;
	}
	
	#board_pageBar>button{
		font-size:1.7rem;
		font-weight:bold;
		color:white;
		background-color:#009688;
		padding:0.3rem;
		border-radius:0.2em;
  		border:1.5px solid black;
  		오른쪽으로 정렬 필요
	} */
	
	
	.btn01 {
 	background-color: lightgray;
	font-family: 'GongGothicLight';	
 	 	color: black;
 	border-radius:0.2em;
 	border:1px solid black;
 	
 	margin:0.5rem;
 	padding:0.3rem;
 	text-align:center;
	}

	.btn01:hover{
		background-color:cadetblue;
	}
	
	.inputBox{
		border-radius:0.2em;
  		border:1.px solid black;
  		}
  		
  	#search-Type{
  		font-family: 'GongGothicLight';
  	}
  	
  	option{
	border:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.categoryLine{
	border-right:1px dashed gray;
}