@charset "UTF-8";
@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* .weeklyMenuStatus { 
	default
	width:100%;
	height:auto;
   	border-radius:50%;
   	border: 1px solid black;
   	text-align:center;  		
} */

	.container-fluid{
		margin:0;
		padding:0;
	}
.title00{	
	font-family: 'PFStardust';
	font-size:2.5rem;
	font-weight:bold;	
}

.title00>a{
	color:cadetblue;
	text-shadow: -0.7px 0 black, 0 0.7px black, 0.7px 0 black, 0 -0.7px black;
}
    	
.title01{	
	font-family: 'PFStardust';
	font-size:2.3rem;
	font-weight:bold;
}
.title02{	
	font-family: 'PFStardust';
	font-size:2.7rem;
	font-weight:bold;
}

.weeklyExcStatus, .weeklyMenuStatus{	
	font-family: 'PFStardust';
	font-size:3.5rem;
	font-weight:bold;
	color:white;
	text-align:center;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
	
	width:6rem;
	height:6rem;
   	border-radius:50%;
   	border: 1.5px solid black;	
   	
   	margin:auto;
 
}
.excName, .menuName{
	word-break:keep-all;
	
}
#weeklyExcStatus, #weeklyMenuStatus { 
		align-items:center;		
}

.btn01{
	border-radius:0.2em;
  	border:1.5px solid black;
  	background-color:cadetblue;
  	font-family: 'GongGothicMedium';
  	/*text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;*/
	color:white;
  	font-size:2.3rem;
  	text-align: center;
  	padding:0.5rem 1rem 0.5rem 1rem;
  	margin-top:1.5rem;
  	margin-bottom:5rem;
}
.btn01:hover{
	background-color: #da7316;
}
.list01{
	border-radius:0.2em;
  	border:1.5px solid black;
  	background-color:lightgray;
	margin-top:1rem;
	margin-bottom:1rem;
	padding:0.5rem;
  	
  	font-family: 'GongGothicMedium';
  	font-size:1.8rem;
  	font-weight:bold;
  	text-align:center;
  	
  	margin-right:0.1rem;
}

.list02{
	font-family: 'GongGothicMedium';
	font-size: 1.7rem;		
  	margin-right:0.1rem;
  	text-align:center;
  	height:3rem;
  	margin-bottom:0.5rem;
}
.excName, .menuName{
	content-overflow: ellipsis;
}
.num01{
	font-family: 'PFStardust';
	font-size:2.3rem;
	font-weight:bold;	
	text-align:right;
}
.num02{
	font-family: 'GongGothicLight';
	font-size:2.3rem;
	font-weight:bold;	
	text-align:left;
	margin-bottom:0.8rem;
}
.list03{
	font-family: 'GongGothicMedium';
	font-size: 2rem;
  	text-align:center;	
}
.categoryLine{
	border-right:1px dashed gray;
}
.noPlan{
	font-size:2.3rem; 
	color:#da7316; 
	margin-top:3rem;
	margin-bottom:2rem;
	border:1.5px dashed darkgray;
	height:20rem;
	padding-top:8.5rem;
}
/* .todayPlan{
	height:43rem;
	overflow: hidden;
	 white-space: nowrap;
	 text-overflow: ellipsis;
}
.todayPlan_l{
	width:14rem;
	 text-overflow: ellipsis;
	overflow: hidden;
} */

