@charset "UTF-8";

.flex {
	display: flex
}

.marginlr {
	margin-left: 1%;
	margin-right: 1%;
}

.margin1 {
	margin: 1%;
}

#write_title_area, #write_content_area, #write_upload_area,
	#write_btn_area {
	margin-left: 5%;
}

#write_upload_area {
	padding-top: 1%;
	padding-bottom: 1%;
	
	border: 1px solid lightgreen;
}

#write_btn_area {
	
}

#write_btn_area>button {
	
	
}
#write_btn_area>button>img {
	
	
}

.btnb{
	border:1px solid black;
}