@charset "UTF-8";

#board_container * {
	border: 1px skyblue solid;
}

#board_container li {
	list-style: none;
}

#board_head>ul, #board_body>ul {
	display: flex;
}



#content_count {
	padding: 0.5%;
	display: flex;
}

#board_body, #board_head {
	font-size: 14px;
}

.board_sort {
	text-align: center;
	align-self: center;
}

.board_title {
	display: flex;
}

.board_content_info {
	align-self: center;
	text-align: center;
}

div.board_file_img {
}

div.board_file_img>img {
	width: 100%;
	height: 100%;
}

#board_pageBar {
	text-align: center;
}