@charset "UTF-8";

*{
	    font-family: 'GongGothicMedium';
}
#exc_name{
	padding:5px;
	    margin-left: -6px;
}
#sub_change>div:hover {
	color:cadetblue;
	transition: all 0.3s;
}
#sub_change>span>a {
	background-color:lightblue;
}

#list_container {
	
}

div#exc_list {
	
	
}

div#exc_list_info {
	
	transition:all 0.2s;
	

}

#exc_select {
	display: flex;
}

div#exc_img {
	
	height: 300px;
	
}

div#exc_submit {

	margin-top: 2%;
	margin-bottom: 2%;
	
}

div#exc_detail_info_container {
	margin-top: 1%;
}

.list {
	list-style: none;
}

.btn{
	border:1px solid #ccc;
}
.border{
	padding-bottom:3px;	
}
.border>img{
	margin-top:8px;
}
img{
	width:100%;
	height:100%;
	
}
.clickcheck{
	transition:all 0.3s;
	margin:1%;
	border-bottom:1px dashed gray;
	height:68.9px;
	overflow:hidden;
}
.clickcheck:hover{
	cursor:pointer;
	background-color:rgba(104, 255, 12, 0.26);
}

#exc_video{
	position: relative;
	width:100%;
	padding-left: 20px;
	padding-bottom: 58%;
	
}
#exc_video iframe {
	position:absolute;
	width:100%;
	height:100%;
}