@charset "UTF-8";

#memberMyList * {
	border: #009688 1px solid;
}

#list_container_myList {
	
}

#list_title_container {
	
}

#select_weekday {
	
}

#mylist_info_container {
	
}

.list_title_area {
	
}

div#select_weekday {
	height: 70px;
}

#select_weekday>.col-md-1 {
	border-radius: 100%;
	text-align: center;
	width:calc(100%/13);
}

div#my_list_exc {
	
}

div#my_list_menu {
	
}

li.weekDay_list {
	
	
	
}

li.weekDay_list>.list_img_area {
	
	height: 100%;
}

li.weekDay_list>.list_img_area>img {
	width: 100%;
	height: 100%;
}

div.list_name_area {
	
	
}

div.list_name_area span {
	display: inline-block;
	
}

div.list_button_area {
	
}

#mymenu {
	
}

#mymenu>h3 {
	
}

#mymenu>select {
	
}

.mylist_info {
	
}
#myExc_info, #myMenu_info{
	height:400px;
	
}


.mylist_box {
	
}

.btn01{
	font-family:'GongGothiclight';	
	border-radius:0.2em;
	border:1px solid black;
	background-color:lightgray;	
	font-size:16px;
	width:110px;
	padding:1px;
	margin-top:0.5rem;
	margin-left:0.3rem;
	text-align:center;
}
