@charset "UTF-8";

#temp_header {
	height: 200px;
	margin-top: 50px;
}

#temp_footer {
	height: 100px;
	margin-top: 50px;
}


#container_progress_trend{
	margin-top:1%
}

#container_progress_trend div{
	border : 1px solid #aaa;
	
}


#container_content_progress_trend {
	display: flex;
	align-items: center;
	;
}



#container_progress_trend>nav>ul {
	display: flex;
}

#container_progress_trend>nav>ul>li {
	height: 40px;
	list-style: none;
	padding-top: 17px;
	text-align: center;
}

#PracticeRate_img {
	height: 250px;
	margin-top: 30px;
}

#PracticeRate_img>img {
	width: 100%;
	height: 100%;
}

#Practice_trend {
	height: 250px;
	margin-top: 30px;
}

#select_sort {
	margin-top: 30px;
}

#select_sort>button {
	margin-left: 27%;
	margin-top: 10px;
}

#dataType_select {
	margin-top: 30px;
	margin-bottom: 15px;
}

[name="term"] {
	margin-bottom: 15px;
}

.cheight {
	padding:1%;
	
}

#statistics_container {
	margin-top: 30px;
}

#data_container {
	display: flex;
}

.pieChart, .rank {
	height: 300px;
	margin: 20px;
}
.cContainer{
	height:100%;
}
.eReason, .mReason:hover{
	cursor:pointer
}