@charset "UTF-8";
@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* .weeklyMenuStatus { 
	default
	width:100%;
	height:auto;
   	border-radius:50%;
   	border: 1px solid black;
   	text-align:center;  		
} */

	.container-fluid{
		margin:0;
		padding:0;
	}
.title00{	
	font-family: 'PFStardust';
	font-size:2.5rem;
	font-weight:bold;	
}

.title00>a{
	color:cadetblue;
	text-shadow: -0.7px 0 black, 0 0.7px black, 0.7px 0 black, 0 -0.7px black;
}
    	
.title01{	
	font-family: 'PFStardust';
	font-size:2.3rem;
	font-weight:bold;
	text-align:center;
	background-color:rgba(227, 23, 83, 0.35);
	padding-top:0.8em;
	height:3em;
}
.title02{	
	font-family: 'PFStardust';
	font-size:2.7rem;
	font-weight:bold;
}

.weeklyExcStatus, .weeklyMenuStatus{	
	font-family: 'PFStardust';
	font-size:3.5rem;
	font-weight:bold;
	color:white;
	text-align:center;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
	
	width:6rem;
	height:6rem;
   	border-radius:50%;
   	border: 1.5px solid black;	
   	
   	margin:auto;
 
}

.modalCheck{
	font-family: 'GongGothicMedium';
	height:2em;
	border-bottom:1px dashed gray;
	margin-top:1.5%;
	margin-bottom:1.5%;
}


#weeklyExcStatus, #weeklyMenuStatus { 
		align-items:center;		
}

.box {
		font-family: 'GongGothicLight';
		font-size:18px;
		display: block;
		padding-top:5px;
		height: 40px;
  		border-radius:0.2em;
  		border:1.5px solid black;
  /* padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  background: #fff; */
	}
.box>select{
	border:none;
}

.btn01{
	border-radius:0.2em;
  	border:1.5px solid black;
  	background-color:cadetblue;
  	font-family: 'GongGothicMedium';
  	/*text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;*/
	color:white;
  	font-size:2.3rem;
  	text-align: center;
  	padding:0.5rem 1rem 0.5rem 1rem;
  	margin-top:1.5rem;
  	margin-bottom:5rem;
  	cursor:pointer;
}
.btn01:hover{
	background-color: #da7316;
}
.list01{
	border-radius:0.2em;
  	border:1.5px solid black;
  	background-color:lightgray;
	margin-top:1rem;
	margin-bottom:1rem;
	padding:0.5rem;
  	
  	font-family: 'GongGothicMedium';
  	font-size:1.8rem;
  	font-weight:bold;
  	text-align:center;
  	
  	margin-right:0.1rem;
}

.list02{
	font-family: 'GongGothicMedium';
	font-size: 1.7rem;		
  	margin-right:0.1rem;
  	text-align:center;
}
.num01{
	font-family: 'PFStardust';
	font-size:2.3rem;
	font-weight:bold;	
	text-align:right;
}
.num02{
	font-family: 'GongGothicLight';
	font-size:2.3rem;
	font-weight:bold;	
	text-align:left;
	margin-bottom:0.8rem;
}
.list03{
	font-family: 'GongGothicMedium';
	font-size: 2rem;
  	text-align:center;	
}
.categoryLine{
	border-right:1px dashed gray;
}
.noPlan{
	font-size:2.3rem; 
	color:#da7316; 
	margin-top:3rem;
	margin-bottom:2rem;
	border:1.5px dashed darkgray;
	height:20rem;
	padding-top:8.5rem;
}



#container_progress_trend{
	margin-top:1%;
}

#container_progress_trend div{
	
	
}


#container_content_progress_trend {
	display: flex;
	align-items: center;
	
	padding-top:1%;
	padding-bottom:1%;
}



#container_progress_trend>nav>ul {
	display: flex;
}

#container_progress_trend>nav>ul>li {
	height: 40px;
	list-style: none;
	padding-top: 17px;
	text-align: center;
}

#PracticeRate_img {
	height: 250px;
	border:1px dashed gray;
}

#PracticeRate_img>img {
	width: 100%;
	height: 100%;
}

#Practice_trend {
	height: 250px;
	
}
#Practice_trend>.col-md-12 {
	height: 100%;
	border:1px dashed gray;
}

#select_sort {
	
}

#select_sort>button {
	margin-left: 27%;
	margin-top: 10px;
}

#dataType_select {
	
}

[name="term"] {
	margin-bottom: 15px;
}

.cheight {
	
}

#statistics_container {

}

#data_container {
	display: flex;
	
}

.pieChart, .rank {

	margin: 20px;
}
.cContainer{
	height:100%;
	border:1px dashed gray;
}
.eReason, .mReason:hover{
	cursor:pointer
}

#modal{
  display:none;
  position:fixed; 
  width:100%; height:100%;
  top:0; left:0; 
  background:rgba(0,0,0,0.3);
}


.modal-con{
  display:none;
  position:fixed;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  width: 25%;
  height: 25%;
  background:#fff;
}

.modal-con .title{
  font-size:20px; 
  padding: 20px; 
  background : gold;
}

.modal-con .con{
  font-size:15px; line-height:1.3;
  padding: 30px;
}

.modal-con .close{
  border-radius:50%; 
  border: 3px solid #000;
  text-align:center; line-height: 30px;
  text-decoration:none;
  color:#000; font-size:20px; font-weight: bold;
  
}

.modalbtn{
	border-radius:0.2em;
  	border:1.5px solid black;
  	background-color:rgba(221, 92, 181, 0.33);
  	font-family: 'GongGothicMedium';
  	/*text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;*/
	color:rgba(54, 40, 44, 0.45);
  	font-size:2rem;
  	text-align: center;
  	padding:0.5rem 1rem 0.5rem 1rem;
  	margin-top:1.5rem;
  	margin-bottom:5rem;
  	cursor:pointer;
}
.modalbtn:hover{
	background-color: rgba(221, 92, 73, 0.78);
}
select:focus, select>option>focus{
	border:0;
	outline:none;
}
