@charset "UTF-8";
@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.title01{	
	font-family: 'PFStardust';
	font-size:3.5rem;
	font-weight:bold;	
}
#n_date{
	text-align:center;
    font-family: 'GongGothicLight';
	
} 


#n_content_img{
	padding-right:15%;
	padding-left:15%;
	padding-top:3%;
	padding-bottom:2%;
	height:400px;
}

#n_content_img>img {
	width:100%;
	height:100%;
}
.content_img {
	border-radius:0.2em;
}

#date_search{
	padding-top:1%;
	padding-bottom:1%;
	display:flex;
}
#date_search>button{
	margin-left:2%;
	margin-right:2%;
	
}

input[type="button"] {
	background:lightgrey;
	margin-bottom:8px;
	border-radius:0.2em;
	border:1.5px solid black;
	font-family: 'GongGothicMedium';
	font-size:1.5rem;
	height:3.5rem;
	width:8rem;
}
input[type="button"]:hover{
	 background: #009688;
           /*  color: #fff; */
}
p {
	font-family: 'GongGothicMedium';
}
.nickname02{
	font-size:2.3rem;
	 font-family: 'GongGothicLight';
	 text-align:center;
	 margin-top:1rem;
}


/* 눈바디 갤러리 리스트  */
input[type="text"] {
	font-family: 'GongGothicMedium';
}
input[type="submit"]{
	font-family: 'GongGothicMedium';
	padding:0px 5px 0px 5px;
}
.upload_img {
	width:100%;
	height:90%;
	border-radius:0.2em;
}
.btn{
	background:lightgrey;
	margin-bottom:8px;
	border-radius:0.2em;
	border:1.5px solid black;
	font-family: 'GongGothicMedium';
	font-size:1.5rem;
}
.btn02{
	background:lightgrey;
	margin-bottom:8px;
	border-radius:0.2em;
	border:1.5px solid black;
	font-family: 'GongGothicMedium';
	font-size:1.5rem;
	height:3.5rem;
	width:6rem;
	margin-left:0.3rem;
}
.btn:hover, .btn02:hover{
            background: #009688;
            /* color: #fff; */
        }
.searchLine{
	border-radius:0.2em;
	border:1.5px solid black;
	height:3.5rem;
}
.noUpload{
	height:200px;	
	border: 1px black solid;
}
.img_obj{
	height:200px;	
	/* border: 1px black solid */;
	
	border-radius:0.2em;
  	border:1px solid lightgray;
  	padding:1rem;
}
.img_obj>img{
	border-bottom:1px dashed lightgray;
	padding-bottom:0.5rem;
}
.img_obj>p{
	margin:0.5rem;
	text-align:center;
}

#n_pageBar {
	font-family: 'GongGothicMedium';
}

/* #n_list,#n_content_area{
	border:3px solid blue;
}
 */
#n_content_img{
	border-radius:0.2em;
	border:1.5px solid gray;
}
#n_list{
	border-radius:0.2em;
	border:1.5px solid gray;
	padding:1.5rem 1.5rem 2rem 2rem;
}
#n_pageBar{
	margin-top:1.5rem;
	font-size:1.7rem;
}